# 14 Verify Data Quality & Consistency

## 14.1 Load Dataset

In [14]:
import pandas as pd

feature_dataset_path = r"C:\Users\pc\data science\SADOP\data\ml_features.csv"
df = pd.read_csv(feature_dataset_path)
df.head()

,query,query_time,rows_returned,has_sum,has_group_by,has_where,tables_count,query_length,cpu_usage,memory_usage,is_slow
0,SELECT AVG(total_amount)\nFROM (\n SELECT S...,0.641623,1,1,1,0,2,176,0.0,0.746455,0
1,"SELECT u.user_id, t.transaction_date, t.amount...",1.644557,250000,0,0,0,3,183,12.5,1.108117,1
2,SELECT AVG(total_amount)\nFROM (\n SELECT S...,0.650696,1,1,1,0,2,176,0.0,0.763426,0
3,"SELECT u.user_id, COUNT(t.transaction_id) AS t...",0.620023,16520,0,1,1,3,198,0.0,0.764052,0
4,SELECT DISTINCT u.user_id\nFROM user u\nJOIN a...,0.347722,16329,0,0,1,3,150,0.0,0.768193,0

## 14.2 checking for missing values

In [15]:
# Check for nulls
missing = df.isnull().sum()
print("Missing values per column:\n", missing)

Missing values per column:
 query            0
query_time       0
rows_returned    0
has_sum          0
has_group_by     0
has_where        0
tables_count     0
query_length     0
cpu_usage        0
memory_usage     0
is_slow          0
dtype: int64

## 4.3 cheking for duplicated

In [16]:
duplicates = df.duplicated().sum()
print("Duplicate rows:", duplicates)

Duplicate rows: 5

## 4.4 Duplicate Removal

In [19]:
df_clean = df.drop_duplicates().reset_index(drop=True)
print("New shape:", df_clean.shape)

New shape: (19995, 11)

In [22]:
df_clean.to_csv(r'C:\Users\pc\data science\SADOP\data\ml_features_clean.csv', index=False)
print(f"✅ ML features dataset verified and saved: ml_features_clean.csv")

✅ ML features dataset verified and saved: ml_features_clean.csv