# Connection to mysql

In [22]:
import mysql.connector

conn = mysql.connector.connect(
    host="127.0.0.1",
    port=3307,
    user="sadop_user",
    password="1234"
)

cursor = conn.cursor()
print("Connected as sadop_user")

Connected as sadop_user

# 1.Creation de la data base

In [23]:

cursor.execute("USE SADOP_BDD")
print("Database selected")

Database selected

## 1.2Users Tabel

In [24]:
cursor.execute("""
CREATE TABLE user (
    user_id INT PRIMARY KEY,
    full_name VARCHAR(100),
    email VARCHAR(120),
    country CHAR(2),
    signup_date DATE
)
""")

print("âœ… users table created")

âœ… users table created

## 1.3 Accounts table

In [25]:
cursor.execute("""
CREATE TABLE accounts (
    account_id INT PRIMARY KEY,
    user_id INT,
    account_type ENUM('SAVINGS','CHECKING','BUSINESS'),
    balance DECIMAL(12,2),
    created_at DATE,
    FOREIGN KEY (user_id) REFERENCES user(user_id)
)
""")

print("âœ… accounts table created")

âœ… accounts table created

## 1.4 Transactions table

In [26]:
cursor.execute("""
CREATE TABLE transactions (
    transaction_id INT PRIMARY KEY,
    account_id INT,
    amount DECIMAL(10,2),
    transaction_type ENUM('DEBIT','CREDIT'),
    transaction_date DATE,
    status ENUM('SUCCESS','FAILED'),
    FOREIGN KEY (account_id) REFERENCES accounts(account_id)
)
""")

print("âœ… transactions table created")

âœ… transactions table created

## 1.5 log table

In [27]:
cursor.execute("""
CREATE TABLE logs (
    log_id INT PRIMARY KEY,
    user_id INT,
    log_level ENUM('INFO','WARN','ERROR'),
    message TEXT,
    created_at DATETIME,
    FOREIGN KEY (user_id) REFERENCES user(user_id)
)
""")

print("âœ… logs table created")

âœ… logs table created

## 1.6 Commit & Verify

In [28]:
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
print("ðŸ“¦ Tables in database:")
for t in tables:
    print("-", t[0])

ðŸ“¦ Tables in database:
- accounts
- logs
- transactions
- user

## 1.7 instalation of faker to insert data

In [ ]:
pip install Faker

In [29]:
for table in ["user", "accounts", "transactions", "logs"]:
    print(f"\nðŸ“„ {table.upper()} STRUCTURE")
    cursor.execute(f"DESCRIBE {table}")
    for row in cursor.fetchall():
        print(row)

ðŸ“„ USER STRUCTURE
('user_id', 'int', 'NO', 'PRI', None, '')
('full_name', 'varchar(100)', 'YES', '', None, '')
('email', 'varchar(120)', 'YES', '', None, '')
('country', 'char(2)', 'YES', '', None, '')
('signup_date', 'date', 'YES', '', None, '')

ðŸ“„ ACCOUNTS STRUCTURE
('account_id', 'int', 'NO', 'PRI', None, '')
('user_id', 'int', 'YES', 'MUL', None, '')
('account_type', "enum('SAVINGS','CHECKING','BUSINESS')", 'YES', '', None, '')
('balance', 'decimal(12,2)', 'YES', '', None, '')
('created_at', 'date', 'YES', '', None, '')

ðŸ“„ TRANSACTIONS STRUCTURE
('transaction_id', 'int', 'NO', 'PRI', None, '')
('account_id', 'int', 'YES', 'MUL', None, '')
('amount', 'decimal(10,2)', 'YES', '', None, '')
('transaction_type', "enum('DEBIT','CREDIT')", 'YES', '', None, '')
('transaction_date', 'date', 'YES', '', None, '')
('status', "enum('SUCCESS','FAILED')", 'YES', '', None, '')

ðŸ“„ LOGS STRUCTURE
('log_id', 'int', 'NO', 'PRI', None, '')
('user_id', 'int', 'YES', 'MUL', None, '')
('log_level', "enum('INFO','WARN','ERROR')", 'YES', '', None, '')
('message', 'text', 'YES', '', None, '')
('created_at', 'datetime', 'YES', '', None, '')