# 14 Verify Data Quality & Consistency

## 14.1 Load Dataset

In [1]:
import pandas as pd

feature_dataset_path = r"C:\Users\pc\data science\SADOP\data\ml_features.csv"
df = pd.read_csv(feature_dataset_path)
df.head()

,query,query_time,rows_examined,joins,has_sum,has_group_by,has_where,tables_count,query_length,cpu_usage,memory_usage,is_slow
0,SUM transactions (simulated missing index),0.115103,250188,1,1,1,0,2,42,11.3,190.453125,1
1,SUM transactions (simulated missing index),0.082442,250188,1,1,1,0,2,42,0.0,190.453125,1
2,SUM transactions (simulated missing index),0.083628,250188,1,1,1,0,2,42,0.0,190.453125,1
3,SUM transactions for user_id=141,0.027882,15,2,1,1,1,3,32,0.0,190.453125,0
4,SUM transactions for user_id=141,0.024800,15,2,1,1,1,3,32,0.0,190.453125,0

## 14.2 checking for missing values

In [2]:
# Check for nulls
missing = df.isnull().sum()
print("Missing values per column:\n", missing)

Missing values per column:
 query            0
query_time       0
rows_examined    0
joins            0
has_sum          0
has_group_by     0
has_where        0
tables_count     0
query_length     0
cpu_usage        0
memory_usage     0
is_slow          0
dtype: int64

In [3]:
print(df.dtypes)

query             object
query_time       float64
rows_examined      int64
joins              int64
has_sum            int64
has_group_by       int64
has_where          int64
tables_count       int64
query_length       int64
cpu_usage        float64
memory_usage     float64
is_slow            int64
dtype: object

## 14.3 cheking for duplicated

In [4]:
duplicates = df.duplicated().sum()
print("Duplicate rows:", duplicates)

Duplicate rows: 0

In [7]:
df.to_csv(feature_dataset_path, index=False)
print(f"✅ ML features dataset verified and saved: {feature_dataset_path}")

✅ ML features dataset verified and saved: C:\Users\pc\data science\SADOP\data\ml_features.csv