In [3]:
import mysql.connector
from faker import Faker
import random
from datetime import datetime, timedelta

print("All set up")

All set up

In [4]:
conn = mysql.connector.connect(
    host="127.0.0.1",
    port=3307,
    user="sadop_user",
    password="1234",
    database="sadop_db"
)
cursor = conn.cursor()
print("Connected to SADOP database")

Connected to SADOP database

In [6]:
fake = Faker()

In [8]:
NUM_USERS = 20  # you can increase to 1000+ later

users = []

for _ in range(NUM_USERS):
    name = fake.name()
    email = fake.unique.email()
    phone = fake.phone_number()[:20] 
    created_at = fake.date_time_between(start_date='-3y', end_date='now')
    users.append((name, email, phone, created_at))

cursor.executemany("""
INSERT INTO Users (name, email, phone, created_at)
VALUES (%s, %s, %s, %s)
""", users)
conn.commit()
print(f"{NUM_USERS} users inserted")

DataError: 1406 (22001): Data too long for column 'phone' at row 5